@charset "ISO-8859-1";

table, th, td {
	border: 1px solid black;
	padding: 5px;
}
fieldset{
	border: 300px;
}
body {
	background-color: #2795b6;
	}
button{
	background color: blue;
}
.h1text{
	margin-top: 20px;
	text-align: center;
	color: #0040bf;
}


input[type=text] {
  	width: 100%;
	padding: 12px 20px;
 	margin: 8px 0;
    box-sizing: border-box;
    }
